<div class="main-wrapper">
  <div class="score-wrapper">

    <div class="player-table">
      <div class="player-table__controls">
        <div class="player-table__key-pair">
          <div class="player-table__pair-element">
            <div>▲</div>
          </div>
          <div class="player-table__pair-element">
            <div>Q</div>
          </div>
        </div>
        <div class="player-table__key-pair">
            <div class="player-table__pair-element">
              <div>▼</div>
            </div>
            <div class="player-table__pair-element">
              <div>A</div>
            </div>
          </div>
      </div>
      <div class="player-table__score">
        <div id="player-1-score">0</div>
      </div>
    </div>

    <div class="player-table">
        <div class="player-table__controls">
          <div class="player-table__key-pair">
            <div class="player-table__pair-element">
              <div>▲</div>
            </div>
            <div class="player-table__pair-element">
              <div>P</div>
            </div>
          </div>
          <div class="player-table__key-pair">
              <div class="player-table__pair-element">
                <div>▼</div>
              </div>
              <div class="player-table__pair-element">
                <div>L</div>
              </div>
            </div>
        </div>
        <div class="player-table__score">
          <div id="player-2-score">0</div>
        </div>
      </div>

  </div>

  <canvas id="game" class="game-canvas" width="600" height="400" />
</div>
